<!DOCTYPE html>
<html>
<head>
  <title> Login Page </title>
</head>
<h1> Login here </h1>
<body>
 <form action="/login" method="POST" >
    <input type="email" name="email" placeholder="your_email@example.com">
    <input type="password" name="password" placeholder="password">
    <button type="submit" value="Login">Submit</button>
  </form>
</body>
</html>