<!DOCTYPE html>
<html>
<head>
  <title> Registration Page </title>
</head>
<h1> Register here </h1>
<body>
  <form action="/registration" method="POST" >
    <input type="email" name="email" placeholder="your_email@example.com">
    <input type="password" name="password" placeholder="password">
    <button type="submit" value="submit">Submit</button>
  </form>
</body>
</html>