html {

  font:62.5%/1 "Droid Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  background-color: black;

}

iframe {
  border: none;
  padding: 0px;
}

.main-content {
    /* display: flex; */
    position: absolute;
    width: 1360px;
    height: calc(100vh - 10%);

    left: calc((100vw - 1360px) / 2);
    top: 5%;

    margin: auto;

    /* border: 1px solid red; */
}

.screen {
    /* flex: 1; */
    position: absolute;
    width: 41%;
    height: 90%;

    top: 5%;

    box-sizing: border-box;
    /* padding: 2px; */

    /* border: 1px solid magenta; */
}

.wiki {
  left: 5%;
}

.game {
  right: 5%;
}

.screen-overlay {
  position: absolute;

  width: 100%;
  height: 100%;

  z-index: 999;
}

.screen-content {
  position: absolute;
  left: 12px;
  top: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);

  z-index: 997;
}

.screen-bg {

  position: absolute;
  width: 100%;
  height: 100%;

  z-index: 1;

}

.screen-glow {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow:
    0px 0px 16px -4px hsla(160,15%,50%,80%),
    0px 0px 96px -16px hsla(60,15%,80%,90%);
  z-index: 0;
  border-radius: 10px;
}

.glass {
  border:1px solid rgba(0,0,0,0.5);
  border-radius: 10px;
  -webkit-box-shadow:
    0 2px 6px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);
  -moz-box-shadow:
    0 2px 6px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);
  box-shadow:
    0 2px 6px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);
  background:rgba(0,0,0,0.18);
}

.no-click {
  pointer-events: none;
}

/*  .button-container {

  position: relative;
  bottom: 0px;
}*/

.metal {
  /* position: relative; */
  /* margin: 40px auto; */
  outline: none;

  font: bold 3.5em/2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-align: center;
  color: hsla(0,0%,20%,1);
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;

  background-color: hsl(0,0%,90%);
  box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */

    hsla(0,0%, 0%,.15) 0 -1px 1px 1px, /* outer SD */
    hsla(0,0%,100%,.5) 0  1px 1px 1px; /* outer HL */

  transition: color .2s;
}


.metal-button:active {
color: hsl(210, 100%, 40%);
text-shadow: hsla(210,100%,20%,.3) 0 -1px 0, hsl(210,100%,85%) 0 2px 1px, hsla(200,100%,80%,1) 0 0 5px, hsla(210,100%,50%,.6) 0 0 20px;
box-shadow:
  inset hsla(210,100%,30%,  1) 0  0px 0px 4px, /* border */
  inset hsla(210,100%,15%, .4) 0 -1px 5px 4px, /* soft SD */
  inset hsla(210,100%,20%,.25) 0 -1px 0px 7px, /* bottom SD */
  inset hsla(210,100%,100%,.7) 0  2px 1px 7px, /* top HL */

  hsla(210,100%,85%, .8) 0  0px 1px 1px, /* outer SD */
  hsla(210,50%,40%, .25) 0 -1px 1px 1px, /* outer SD */

}

/* Radial ------------------------- */

.radial.metal {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 40px;
  background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),

    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   3%, hsla(0,0%,  0%,.1) 3.5%),
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%,.1) 7.5%),
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2.2%),

    -webkit-radial-gradient( 50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
}


.metal.radial:before, .metal.radial:after {
  content: "";
  top: 0;
  left: 0;


  width: inherit;
  height: inherit;
  border-radius: inherit;

  /* fake conical gradients */
  background-image: -webkit-radial-gradient(  50%   0%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
    -webkit-radial-gradient(   0%  50%, 50% 10%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
    -webkit-radial-gradient( 100%  50%, 50% 06%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%);
}
.metal.radial:before { transform: rotate( 65deg); }
.metal.radial:after { transform: rotate(-65deg); }

/* Linear ------------------------- */

.metal.linear {
  /* font-size: 4em; */
  border-radius: 10px;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),

    linear-gradient(180deg, hsl(0,0%,78%)  0%,
    hsl(0,0%,90%) 47%,
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
}

/* https://stackoverflow.com/a/34556311/9667199 */
.carbon {

  border-radius: 18px;
  border: 2px solid hsl(0,0%,10%);
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 12px 12px, 12px 12px, 12px 6px;
  background-position: 0px 0px, 6px 6px, 0px 0px;

}
